<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\Users\Adrian\source\repos\ExaminationSystem\TextFiles"/>
  </appSettings>
  <connectionStrings>
    <add name="Examination System" connectionString="Server=.;Database=Examination System;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>